$color-primary:rgb(77, 70, 70);
$color-secondary:#ED7117;
$color-white:white;

.button-container {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: $color-primary;
    color: $color-white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    &:hover {
      background-color:$color-white;
      color:$color-primary;
      border: 1px solid $color-primary;
    }
  
    &.google-sign-in {
      background-color: $color-secondary;
      color: $color-white;
  
      &:hover {
        background-color: $color-secondary;
        border: none;
      }
    }
  
    &.inverted {
      background-color: $color-white;
      color:$color-primary;
      border: 1px solid $color-primary;
  
      &:hover {
        background-color: $color-primary;
        color: $color-white;
        border: none;
      }
    }
  }
  