@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&family=Montserrat:wght@200;400;500;600&family=Noto+Serif:ital@0;1&display=swap');
body {
  margin: 0;
  font-family: 'Edu NSW ACT Foundation', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Edu NSW ACT Foundation', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
*{
  box-sizing: border-box;
}
